<ion-header [translucent]="true" id="header">

</ion-header>

<ion-content>
  <div class="fondo">


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bienvenido a la mejor guía de bares de  Guarromán</strong>
    <p> Te atreves a entrar?</p>
    <ion-button [routerLink]="['/restaurante']" color="dark">
      <ion-icon name="arrow-forward" color="primary"></ion-icon>
    </ion-button>
  </div>
  </div>
</ion-content>
