.fondo{
    background-image: url(https://s1.abcstatics.com/abc/www/multimedia/viajar/2023/09/27/FuentedelasGeneraciones-R2UeT7rl5ARbvqCkcobmaJL-1200x840@abc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.cabecera{
    background-color: rgb(218, 203, 0);
}